fieldset {
	background-color: #968c8c;
	width: 50%;
	border-color: #000000;
	border-style: solid;
}
.header img {
  float: left;
  width: 350px;
  height: 150px;
  background: #555;
}
body {
	background-color: #bdb7b7;
	width: 1880px;
}
legend{
	color: #000000;
	font-weight: bold;
	font-size: larger;
}

#selBirthYear {
	width: 132px;
}

#selReleaseYear {
	width: 132px;
}

.header {
	absolute: top;
	padding-left: 10px;
	background-color: #968c8c;
	overflow: hidden;
	padding-bottom: 10px;
	width: 100%;
	border: 2px solid black;
}

.no-whitespace {
	margin: 0;
	padding: 0;
	margin-left: 750px;
}
.header-right {
	float: right;
	background-color: #968c8c;
	
}
.header-left {
	float: left;
	background-color: #968c8c;
	width: 70%;
}
.header-right a {
	float: left;
	color: black;
	text-align: center;
	font-size: 18px;
	text-decoration: none;
	padding: 12px;
}

.mainSection {
	margin-top: 20px;
	padding: 10px, 20px;
	float: left;
	width: 100%;
}

.dataTable{
	width : 52%;
	text-align : left;
	border:2px solid black;
	border-collapse: collapse;
}
.rowButton {
	cursor: pointer;
}
.dataTable tr:nth-child(even){
	background-color : #968c8c;
}

.dataTable tr:hover{
	font-weight:bold;
	font-size:17px;
	background-color: #d7d9d7; 
}

.dataTable td,th {
	border: 1px solid black;
	padding-top: 5px;
	padding-bottom: 5px;
}
aside {
	float: right;
	border: 2px solid black;
	width: 25%;
	margin-top: 10px;
	background-color: #968c8c;
	
}
#asideTable {
	text-align: left;
	border-collapse: collapse;
	font-size: 17px;
}
#asideTable th, td {
	border: 0px;
	font-weight: normal;
	padding: 10px;
}

caption{
	text-align : left;
	font-weight: bold;
	font-size: 20px;
}
#nav {
	float: left;
	width: 15%;
	background-color: #968c8c;
	padding: 10px 10px 200px 0px;
	border-radius: 4px;
	border: 2px solid black;
	margin-right: 20px;
	margin-top: 10px;
}

#nav a {
	display: block;
	color: #000000;
	padding: 10px 10px;
	text-decoration: none;
}
/* Change color on hover */
#nav1 a:hover {
	background-color: #ddd;
	color: black;
}

#nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#nav li:hover, #nav li:focus {
	color: #666;
	background-color: #d6d6d6;
}
.thick-font{
	font-weight: bold;
}
.txtInputEnterInformation{
	width: 25%;
	padding: 3px 3px;
	margin: 5px;
	box-sizing: border-box;
	border-radius: 5px;
}
.txtInputEnterInformation :focus {
	border: 2px solid #69ff78;
}
select {
	width: 15%;
	padding: 5px 5px;
}
input[type=submit]{
	padding: 6px 6px;
	cursor : pointer;
	border-radius : 4px;
	border :1px solid black;
	margin-right : 10px;
	box-shadow: inset 0px 1px 3px 0px #0d0d0d;
	background: linear-gradient(to bottom, #616161 5%, #b5b5b5 100%);
	background-color : #616161;
	text-shadow : 0px -1px 0px #000000;
	display:inline-block;
	font-family : Arial;
	color:#fafafa;
}
input[type=submit]:hover {
	background: linear-gradient(to bottom, #b5b5b5 5%, #616161 100%);
}
#searchField {
	width: 50%;
	border: 1px solid black;
	margin-bottom: 12px;
	padding: 12px;
	border-radius: 5px;
}
label{
	vertical-align: center;
}
.textSection {
	border: 2px solid black;
	background-color: #968c8c;
	margin-left: 500px; 
	margin-top: 10px;
	width: 40%;
	padding: 10px;
}
#titleHomePage {
	margin-top: 0px;
	font-size: 30px:
}
#txtHomePage {
	font-size: 17px;
}
